<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css">
    {{{styles}}}
    <link rel="stylesheet" href="/wwwroot/css/layout.css">
    <link rel="stylesheet" href="/wwwroot/css/header.css">
    <link rel="stylesheet" href="/wwwroot/css/footer.css">
</head>
<body>
    {{> header}}
      
    {{{body}}}
      
    {{> footer}}
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="/wwwroot/js/ApiRequest.js"></script>
    {{{scripts}}}
</body>
<html>