<main>
    <ul>
        <li>Телефон: +7123456890</li>
        <li>Почта: geeodlay1.0@mail.ri</li>
        <li><a href="#">Телеграмм</a></li>
        <li><a href="#">Вконтакте</a></li>
    </ul>
</main>