<main> 
    <form class ="form-entry" action="entry_room">
        <input type="text" placeholder="Введите название комнаты" name="NameRoomEntry" required>
        <input type="text" placeholder="Введите ваше имя" name="UserNameEntry" required>
        <button type="submit">Подключиться</button>
        <button type="button" class="create-room">Создать свою комнату</button>
    </form>
    <form class="form-create-room">
        <input type="text" placeholder="Введите название комнаты" name="NameRoomCreate" required>
        <input type="text" placeholder="Введите ваше имя" name="UserNameCreate" required>
        <button type="submit">Создать</button>
        <button type="button" class="Back">Назад</button>
    </form>
</main>